@page
@{
    ViewData["Title"] = "Danh sách nghệ sĩ";
}
<div class="main">
    <h1>QUẢN LÝ - MUSIC-CENTER . DANH SÁCH NGHỆ SĨ</h1>
    <hr />
    
    <div class="table-container">
        <table id="table-artist-list">
            <tr class="field-title">
                <th><input class="checkbox-data-all" type="checkbox" /></th>
                <th>Ảnh đại diện</th>
                <th>ID</th>
                <th>Nghệ danh</th>
                <th>Lượt truy cập</th>
                <th>Tổng số bài hát</th>
                <th>Tổng lượt nghe</th>
                <th></th>
            </tr>
        </table>
    </div>
    <div class="table-control">
        <div class="table-page-control-container">
            <button id="artist-reload"><img src="~/lib/refresh-arrow.png"/></button>
            <input id="page-next" type="button" value="Hiển thị thêm..."/>
        </div>
    </div>
</div>