@page
@model categoryModel
@{
    ViewData["Title"] = "Thêm thể loại";
}
<div class="main">
    <h1>QUẢN LÝ - MUSIC-CENTER . QUẢN LÝ THỂ LOẠI</h1>
    <hr />
    <div class="add-game-main-content">
        <div class="form-add">
            <div class="input">
                <label for="">Tên thể loại</label><br><input class="textbox" type="text" name="" id="categoryName" placeholder="Nhập tên thể loại" /><br>
            </div>
            <div class="add-more">
                <button class="sumbit-button" id="category-sumbit">THÊM</button>
            </div>
        </div>
    </div>
</div>